<!-- BEGIN MENUBAR-->
<div id="menubar" class="menubar-inverse">
  <div class="menubar-fixed-panel">
    <div>
      </div>
      <div class="expanded">
        <a href="#">
          <div class="brand-holder">
           <img src="../../assets/img/kenda-vector-logo.png" style="width: 150px; padding-left: 25px;">
          </div>
        </a>
      </div>
    </div>
  <div>
    <ul id="main-menu" class="gui-controls" style="margin-bottom: -15px;">
      <!--<li>-->
        <!--<button class="btn btn-primary-dark ink-reaction" style="width: 100%">-->
            <!--<span class="primary-menu-label">-->
              <!--<i class="fa fa-home"></i>-->
              <!--Home-->
            <!--</span>-->
        <!--</button>-->
      <!--</li>-->
      <li>
          <button class="btn btn-primary-dark ink-reaction" style="width: 100%" (click)="toggleProjects()">
            <span class="primary-menu-label">
              <i class="fa fa-folder"></i> Projects</span>
          </button>
      </li>

    </ul>

    <!--<div *ngIf="showProjectTree()">-->
    <div *ngIf="nestedDataSource.data">
      <ul id="project-menu" class="gui-controls" style="margin-bottom: -15px;">
        <li style="margin: 0">
          <button class="btn btn-accent-light ink-reaction"
                  style="width: 100%;
                  border-top: 1px solid #0c0c0c;
                  border-right: 1px solid #0c0c0c;
                  border-left: 1px solid #0c0c0c;"
                  data-toggle="modal" data-target="#projectCreateModal">

            <span class="tool-title">
              <i class="fa fa-plus fa-lg"></i>
              New Project
            </span>
          </button>
        </li>
        <li style="margin: 0">
          <button *ngIf="emptyParams()" class="btn btn-default ink-reaction"
                  style="width: 100%;border: 1px solid #0c0c0c;" (click)="toggleFilter()">
            <span class="tool-title">
              <i class="fa fa-filter fa-lg"></i>
              Filter
            </span>
          </button>
          <button *ngIf="!emptyParams()" class="btn btn-primary-light ink-reaction"
                  style="width: 85%; border: 1px solid #0c0c0c;" (click)="toggleFilter()">
            <span class="tool-title">
              <i class="fa fa-filter fa-lg"></i>
              Filter (active)
            </span>
          </button>
          <button *ngIf="!emptyParams()" class="btn btn-accent-light ink-reaction"
                  style="width: 15%; border: 1px solid #0c0c0c;" (click)="cleanFilter()">
            <span class="tool-title">
              <i class="fa fa-close fa-lg"></i>
            </span>
          </button>
        </li>
        <li style="margin-top: 0">
          <!--DOUBLE PREV -->
          <button *ngIf="page.double_prev" (click)="fetchMenuItems(1)" class="btn btn-default-dark ink-reaction" style="width: 20%">
              <span class="title menu-label">
                <i class="fa fa-angle-double-left fa-lg"></i>
              </span>
          </button>
          <button *ngIf="!page.double_prev" class="btn btn-default-dark ink-reaction" style="width: 20%" disabled>
              <span class="title menu-label">
                <i class="fa fa-angle-double-left fa-lg"></i>
              </span>
          </button>
          <!--PREV-->
          <button *ngIf="page.prev" (click)="fetchMenuItems(page.page-1)" class="btn btn-default-dark ink-reaction" style="width: 20%">
              <span class="title menu-label">
                <i class="fa fa-angle-left fa-lg"></i>
              </span>
          </button>
          <button *ngIf="!page.prev" class="btn btn-default-dark ink-reaction" style="width: 20%" disabled>
              <span class="title menu-label">
                <i class="fa fa-angle-left fa-lg"></i>
              </span>
          </button>
            <button class="btn btn-default-dark" style="width: 20%">
              <span class="page-label">
                {{page.page}}
              </span>
          </button>
          <!--NEXT-->
            <button *ngIf="page.next" (click)="fetchMenuItems(page.page+1)" class="btn btn-default-dark ink-reaction" style="width: 20%">
              <span class="title menu-label">
                <i class="fa fa-angle-right fa-lg"></i>
              </span>
          </button>
            <button *ngIf="!page.next" class="btn btn-default-dark ink-reaction" style="width: 20%" disabled>
              <span class="title menu-label">
                <i class="fa fa-angle-right fa-lg"></i>
              </span>
          </button>
          <!--DOUBLE NEXT-->
            <button *ngIf="page.double_next" (click)="fetchMenuItems(paginationHeaders.xTotalPages)" class="btn btn-default-dark ink-reaction" style="width: 20%">
              <span class="title menu-label">
                <i class="fa fa-angle-double-right fa-lg"></i>
              </span>
          </button>
            <button *ngIf="!page.double_next" class="btn btn-default-dark ink-reaction" style="width: 20%" disabled>
              <span class="title menu-label">
                <i class="fa fa-angle-double-right fa-lg"></i>
              </span>
          </button>
        </li>
      </ul>
    </div>

    <div class="menubar-scroll-panel" *ngIf="showProjects">
    <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <li class="mat-tree-node" style="margin-left: 35px;">
          <a (click)="log(node)" disabled><i class="fa fa-circle-o fa-2x"></i>
            <span class="title menu-label" *ngIf="node.type == 'project'"  [contextMenu]="projectMenu" [contextMenuSubject]="node">{{node.name}}</span>
            <span class="title menu-label" *ngIf="node.type == 'phase'" [contextMenu]="phaseMenu" [contextMenuSubject]="node">{{node.name}}</span>
            <span class="title menu-label" *ngIf="node.type == 'design'" [contextMenu]="designMenu" [contextMenuSubject]="node">{{node.name}}</span>
            <span class="title menu-label" *ngIf="node.type == 'spec'" [contextMenu]="specMenu" [contextMenuSubject]="node">{{node.name}}</span>
          </a>
        </li>
      </mat-tree-node>
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
        <li>
          <div class="mat-tree-node" style="margin-left: 35px;">
            <a  matTreeNodeToggle (click)="log(node)"
                    [attr.aria-label]="'toggle ' + node.filename">
              <i *ngIf="nestedTreeControl.isExpanded(node)" class="fa fa-angle-down fa-2x"></i>
              <i *ngIf="!nestedTreeControl.isExpanded(node)" class="fa fa-angle-right fa-2x"></i>

              <!-- PROJECT -->
              <span class="title menu-label"
                    [contextMenu]="projectMenu"
                    [contextMenuSubject]="node"
                    *ngIf="nestedTreeControl.isExpanded(node) && node.type == 'project'"
                    style="color: #f31f32; font-weight: normal;">
                {{node.name}}
              </span>
              <span class="title menu-label"
                    [contextMenu]="projectMenu"
                    [contextMenuSubject]="node"
                    *ngIf="!nestedTreeControl.isExpanded(node) && node.type == 'project'"
                    style="color: #d1d1d1;">
                {{node.name}}
              </span>

              <!-- PHASE -->
              <span class="title menu-label"
                    [contextMenu]="phaseMenu"
                    [contextMenuSubject]="node"
                    *ngIf="nestedTreeControl.isExpanded(node) && node.type == 'phase'"
                    style="color: #f31f32; font-weight: normal;">
                {{node.name}}
              </span>
              <span class="title menu-label"
                    [contextMenu]="phaseMenu"
                    [contextMenuSubject]="node"
                    *ngIf="!nestedTreeControl.isExpanded(node) && node.type == 'phase'"
                    style="color: #d1d1d1;">
                {{node.name}}
              </span>

              <!-- DESIGN -->
              <span class="title menu-label"
                    [contextMenu]="designMenu"
                    [contextMenuSubject]="node"
                    *ngIf="nestedTreeControl.isExpanded(node) && node.type == 'design'"
                    style="color: #f31f32; font-weight: normal;">
                {{node.name}}
              </span>
              <span class="title menu-label"
                    [contextMenu]="designMenu"
                    [contextMenuSubject]="node"
                    *ngIf="!nestedTreeControl.isExpanded(node) && node.type == 'design'"
                    style="color: #d1d1d1;">
                {{node.name}}
              </span>

              <!-- SPEC -->
              <span class="title menu-label"
                    [contextMenu]="specMenu"
                    [contextMenuSubject]="node"
                    *ngIf="nestedTreeControl.isExpanded(node) && node.type == 'spec'"
                    style="color: #f31f32; font-weight: normal;">
                {{node.name}}
              </span>
              <span class="title menu-label"
                    [contextMenu]="specMenu"
                    [contextMenuSubject]="node"
                    *ngIf="!nestedTreeControl.isExpanded(node) && node.type == 'spec'"
                    style="color: #d1d1d1;">
                {{node.name}}
              </span>

            </a>
          </div>
          <ul [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
          </ul>
        </li>
      </mat-nested-tree-node>
    </mat-tree>
    <!--<hr class="style-one">-->
    </div>


    <!--CONTEXT MENUS -->
    <context-menu #projectMenu>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="showMessage('Expanding Project', $event.item)">
        <i class="fa fa-expand">&nbsp;</i> Expand
      </ng-template>
      <ng-template contextMenuItem [divider]="true"></ng-template>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="editItem($event.item)">
        <i class="fa fa-edit">&nbsp;</i> Edit
      </ng-template>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="deleteItem($event.item)">
        <i class="fa fa-trash">&nbsp;</i> Delete
      </ng-template>
      <ng-template contextMenuItem [divider]="true"></ng-template>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="createItem($event.item, sibling=true)">
        <i class="fa fa-plus">&nbsp;</i> Create New <span style="font-weight: bold; color: #666666">PROJECT</span>
      </ng-template>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="createItem($event.item, sibling=false)">
        <i class="fa fa-plus">&nbsp;</i> Create New <span style="font-weight: bold; color: #975837">PHASE</span>
      </ng-template>
    </context-menu>
    <context-menu #phaseMenu>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="showMessage('Expanding Project', $event.item)">
        <i class="fa fa-expand">&nbsp;</i> Expand
      </ng-template>
      <ng-template contextMenuItem [divider]="true"></ng-template>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="showMessage('Edit', $event.item)">
        <i class="fa fa-edit">&nbsp;</i> Edit
      </ng-template>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="showMessage('Delete', $event.item)">
        <i class="fa fa-trash">&nbsp;</i> Delete
      </ng-template>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="showCopyMessage('Copy', $event.item)">
        <a data-position="toast-top-full-width"></a>
        <i class="fa fa-copy">&nbsp;</i> Copy
      </ng-template>
      <ng-template contextMenuItem [divider]="true"></ng-template>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="showMessage('Create', $event.item)">
        <i class="fa fa-plus">&nbsp;</i> Create New <span style="font-weight: bold; color: #975837">PHASE</span>
      </ng-template>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="showMessage('Create', $event.item)">
        <i class="fa fa-plus">&nbsp;</i> Create New <span style="font-weight: bold; color: #319644">DESIGN</span>
      </ng-template>
</context-menu>
    <context-menu #designMenu>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="showMessage('Expanding Project', $event.item)">
        <i class="fa fa-expand">&nbsp;</i> Expand
      </ng-template>
      <ng-template contextMenuItem [divider]="true"></ng-template>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="showMessage('Edit', $event.item)">
        <i class="fa fa-edit">&nbsp;</i> Edit
      </ng-template>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="showMessage('Delete', $event.item)">
        <i class="fa fa-trash">&nbsp;</i> Delete
      </ng-template>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="showCopyMessage('Copy', $event.item)">
        <a data-position="toast-top-full-width"></a>
        <i class="fa fa-copy">&nbsp;</i> Copy
      </ng-template>
      <ng-template contextMenuItem [divider]="true"></ng-template>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="showMessage('Create', $event.item)">
        <i class="fa fa-plus">&nbsp;</i> Create New <span style="font-weight: bold; color: #319644">DESIGN</span>
      </ng-template>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="showMessage('Create', $event.item)">
        <i class="fa fa-plus">&nbsp;</i> Create New <span style="font-weight: bold; color: #a84ba3">SPEC</span>
      </ng-template>
</context-menu>
    <context-menu #specMenu>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="showMessage('Expanding Project', $event.item)">
        <i class="fa fa-expand">&nbsp;</i> Expand
      </ng-template>
      <ng-template contextMenuItem [divider]="true"></ng-template>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="showMessage('Edit', $event.item)">
        <i class="fa fa-edit">&nbsp;</i> Edit
      </ng-template>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="showMessage('Delete', $event.item)">
        <i class="fa fa-trash">&nbsp;</i> Delete
      </ng-template>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="showCopyMessage('Copy', $event.item)">
        <a data-position="toast-top-full-width"></a>
        <i class="fa fa-copy">&nbsp;</i> Copy
      </ng-template>
      <ng-template contextMenuItem [divider]="true"></ng-template>
      <ng-template contextMenuItem
                   [visible]="true"
                   [enabled]="true"
                   (execute)="showMessage('Create', $event.item)">
        <i class="fa fa-plus">&nbsp;</i> Create New <span style="font-weight: bold; color: #a84ba3">SPEC</span>
      </ng-template>
</context-menu>

  </div><!--end .menubar-scroll-panel-->
</div><!--end #menubar-->
<!-- END MENUBAR -->

