<!-- BEGIN MENUBAR-->
<div id="menubar" class="menubar-inverse" style="width: 25%;">
  <div class="menubar-fixed-panel">
    <div class="expanded">
      <!--<a href="../../html/dashboards/dashboard.html">-->
        <!--<span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>-->
      <!--</a>-->
    </div>
  </div>
  <div class="menubar-scroll-panel">

    <div style="text-align: center; font-size: 20px; font-style: italic;"><span class="title men-label">Projects</span></div>
    <div style="text-align: center">
      <div class="col-xs-5">
        <button *ngIf="page.double_prev" class="btn btn-icon-toggle ink-reaction" (click)="fetchMenuItems(1)">
          <i style="color: #aa0000" class="fa fa-angle-double-left fa-2x"></i></button>
        <button *ngIf="page.prev" class="btn btn-icon-toggle ink-reaction" (click)="fetchMenuItems(page.page -1)">
          <i style="color: #ff0000" class="fa fa-angle-left fa-2x"></i></button>
      </div>
      <div class="col-xs-2">
         <span style="font-size: 20px; vertical-align: bottom; color: white; text-align: center;">{{page.page}}</span>
      </div>
      <div class="col-xs-5">
        <button *ngIf="page.next" class="btn btn-icon-toggle ink-reaction" (click)="fetchMenuItems(page.page +1)">
          <i style="color: #ff0000" class="fa fa-angle-right fa-2x"></i></button>
        <button *ngIf="page.double_next" class="btn btn-icon-toggle ink-reaction" (click)="fetchMenuItems(paginationHeaders.xTotalPages)">
          <i style="color: #aa0000" class="fa fa-angle-double-right fa-2x"></i></button>
      </div>
    </div>

    <hr>
    <!-- BEGIN MAIN MENU -->
    <ul id="main-menu" class="gui-controls" *ngIf="items">
      <li class="gui-folder" *ngFor="let item of items" [contextMenu]="projectMenu">
        <a class="menu-item">
          <div class="gui-icon">
            <i class="fa fa-folder-open fa-fw"></i>
          </div>
          <span class="title menu-label">{{item.name}}</span>
        </a>

        <!-- context menu for projects -->

        <ul *ngFor="let phase of item.children">
          <li class="gui-folder" [contextMenu]="phaseMenu">
            <a class="menu-item">
              <!--<i class="fa fa-folder-open"></i>-->
              <span class="title menu-label">{{phase.name}}</span></a>

            <ul *ngFor="let design of phase.children" [contextMenu]="designMenu">
              <li class="gui-folder">
                <a class="menu-item">
                  <!--<i class="fa fa-folder-open fa-fw"></i>-->
                  <span class="title menu-label">{{design.name}}</span>
                </a>

                <ul *ngFor="let spec of design.children" [contextMenu]="specMenu">
                  <li class="gui-folder">
                    <a href="javascript:void(0)">
                      <!--<i class="fa fa-folder-open fa-fw"></i>-->
                      <span class="title menu-label">{{spec.name}}</span>
                    </a>
                  </li>
                </ul>
              </li>

            </ul>
          </li>
        </ul>
      </li>

      <!-- END LEVELS -->

    </ul><!--end .main-menu -->
    <!-- END MAIN MENU -->

    <!--CONTEXT MENUS -->
    <context-menu #projectMenu
                      (close)="showMessage('closed static', $event)"
                      (open)="showMessage('open', $event)">
          <ng-template contextMenuItem
                       [visible]="true"
                       [enabled]="true"
                       (execute)="showMessage('Expanding Project')">
            <i class="fa fa-expand">&nbsp;</i> Expand
          </ng-template>
          <ng-template contextMenuItem [divider]="true"></ng-template>
          <ng-template contextMenuItem
                       [visible]="true"
                       [enabled]="true"
                       (execute)="showMessage('Edit Project')">
            <i class="fa fa-edit">&nbsp;</i> Edit
          </ng-template>
          <ng-template contextMenuItem
                       [visible]="true"
                       [enabled]="true"
                       (execute)="showMessage('Delete Project')">
            <i class="fa fa-trash">&nbsp;</i> Delete
          </ng-template>
          <ng-template contextMenuItem
                       [visible]="true"
                       [enabled]="true"
                       (execute)="showMessage('Copy Project')">
            <i class="fa fa-copy">&nbsp;</i> Copy
          </ng-template>
          <ng-template contextMenuItem [divider]="true"></ng-template>
          <ng-template contextMenuItem
                       [visible]="true"
                       [enabled]="true"
                       (execute)="showMessage('Create Phase')">
            <i class="fa fa-plus">&nbsp;</i> Create Phase
          </ng-template>
        </context-menu>
    <context-menu #phaseMenu
                      (close)="showMessage('closed static', $event)"
                      (open)="showMessage('open', $event)">
          <ng-template contextMenuItem
                       [visible]="true"
                       [enabled]="true"
                       (execute)="showMessage('Expanding Project')">
            <i class="fa fa-expand">&nbsp;</i> Expand
          </ng-template>
          <ng-template contextMenuItem [divider]="true"></ng-template>
          <ng-template contextMenuItem
                       [visible]="true"
                       [enabled]="true"
                       (execute)="showMessage('Edit Project')">
            <i class="fa fa-edit">&nbsp;</i> Edit
          </ng-template>
          <ng-template contextMenuItem
                       [visible]="true"
                       [enabled]="true"
                       (execute)="showMessage('Delete Project')">
            <i class="fa fa-trash">&nbsp;</i> Delete
          </ng-template>
          <ng-template contextMenuItem
                       [visible]="true"
                       [enabled]="true"
                       (execute)="showMessage('Copy Project')">
            <i class="fa fa-copy">&nbsp;</i> Copy
          </ng-template>
          <ng-template contextMenuItem [divider]="true"></ng-template>
          <ng-template contextMenuItem
                       [visible]="true"
                       [enabled]="true"
                       (execute)="showMessage('Create Phase')">
            <i class="fa fa-plus">&nbsp;</i> Create Design
          </ng-template>
        </context-menu>
    <context-menu #designMenu
                      (close)="showMessage('closed static', $event)"
                      (open)="showMessage('open', $event)">
          <ng-template contextMenuItem
                       [visible]="true"
                       [enabled]="true"
                       (execute)="showMessage('Expanding Project')">
            <i class="fa fa-expand">&nbsp;</i> Expand
          </ng-template>
          <ng-template contextMenuItem [divider]="true"></ng-template>
          <ng-template contextMenuItem
                       [visible]="true"
                       [enabled]="true"
                       (execute)="showMessage('Edit Project')">
            <i class="fa fa-edit">&nbsp;</i> Edit
          </ng-template>
          <ng-template contextMenuItem
                       [visible]="true"
                       [enabled]="true"
                       (execute)="showMessage('Delete Project')">
            <i class="fa fa-trash">&nbsp;</i> Delete
          </ng-template>
          <ng-template contextMenuItem
                       [visible]="true"
                       [enabled]="true"
                       (execute)="showMessage('Copy Project')">
            <i class="fa fa-copy">&nbsp;</i> Copy
          </ng-template>
          <ng-template contextMenuItem [divider]="true"></ng-template>
          <ng-template contextMenuItem
                       [visible]="true"
                       [enabled]="true"
                       (execute)="showMessage('Create Phase')">
            <i class="fa fa-plus">&nbsp;</i> Create Spec
          </ng-template>
        </context-menu>
    <context-menu #specMenu
                      (close)="showMessage('closed static', $event)"
                      (open)="showMessage('open', $event)">
          <ng-template contextMenuItem
                       [visible]="true"
                       [enabled]="true"
                       (execute)="showMessage('Expand Spec')">
            <i class="fa fa-expand">&nbsp;</i> Expand
          </ng-template>
          <ng-template contextMenuItem [divider]="true"></ng-template>
          <ng-template contextMenuItem
                       [visible]="true"
                       [enabled]="true"
                       (execute)="showMessage('Edit Spec')">
            <i class="fa fa-edit">&nbsp;</i> Edit
          </ng-template>
          <ng-template contextMenuItem
                       [visible]="true"
                       [enabled]="true"
                       (execute)="showMessage('Delete Spec')">
            <i class="fa fa-trash">&nbsp;</i> Delete
          </ng-template>
          <ng-template contextMenuItem
                       [visible]="true"
                       [enabled]="true"
                       (execute)="showMessage('Copy Spec')">
            <i class="fa fa-copy">&nbsp;</i> Copy
          </ng-template>

        </context-menu>

    <div class="menubar-foot-panel">
      <hr>
      <small class="no-linebreak hidden-folded">
        <span class="opacity-75">Copyright &copy; 2014</span> <strong>CodeCovers</strong>
      </small>
    </div>

  </div><!--end .menubar-scroll-panel-->
</div><!--end #menubar-->
<!-- END MENUBAR -->
