<!-- BEGIN MENUBAR-->
<div id="menubar" class="menubar-inverse" style="width: 33%;">
  <div class="menubar-fixed-panel">
    <div class="expanded">
      <!--<a href="../../html/dashboards/dashboard.html">-->
        <!--<span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>-->
      <!--</a>-->
    </div>
  </div>
  <div class="menubar-scroll-panel">

    <!-- BEGIN MAIN MENU -->
    <ul id="main-menu" class="gui-controls" *ngIf="items">

      <li class="gui-folder" *ngFor="let item of items">
        <a>
          <div class="gui-icon">
            <i class="fa fa-folder-open fa-fw"></i>
          </div>
          <span class="title menu-label">{{item.name}}</span>
        </a>
        <ul *ngFor="let phase of item.children">
          <li class="gui-folder">
            <a>
              <i class="fa fa-folder-open"></i>
              <span class="menu-label">{{phase.name}}</span></a>

            <ul *ngFor="let design of phase.children">
              <li class="gui-folder">
                <a href="#">
                  <i class="fa fa-folder-open fa-fw"></i>
                  <span class="menu-label">{{design.name}}</span>
                </a>

                <ul *ngFor="let spec of design.children">
                  <li class="gui-folder">
                    <a href="#">
                      <i class="fa fa-folder-open fa-fw"></i>
                      <span class="menu-label">{{spec.name}}</span>
                    </a>
                  </li>
                </ul>
              </li>

            </ul>
          </li>
        </ul>
      </li>

      <!-- END LEVELS -->

    </ul><!--end .main-menu -->
    <!-- END MAIN MENU -->

    <div class="menubar-foot-panel">
      <small class="no-linebreak hidden-folded">
        <span class="opacity-75">Copyright &copy; 2014</span> <strong>CodeCovers</strong>
      </small>
    </div>

  </div><!--end .menubar-scroll-panel-->
</div><!--end #menubar-->
<!-- END MENUBAR -->
