<header id="header">
  <div class="headerbar">
    <div class="headerbar-left">
      <ul class="header-nav header-nav-options">
        <li class="header-nav-brand" >
          <div class="brand-holder">
           <img src="../../assets/img/ktek_logo_cropped.png" style="margin-left: 125px;">
          </div>
        </li>
        <li>
          <a class="btn btn-icon-toggle" (click)="toggleMenuTree()">
            <i class="fa fa-bars fa-lg"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="headerbar-right">
      <ul class="header-nav header-nav-options">
        <li style="margin-left: -500px; margin-top: 10px; font-size: 18px; ">
          <span><span style="font-weight: bold;">HOST:</span> {{host}}</span>
        </li>
        <li>
          <!-- Search form -->
          <form class="navbar-search" role="search">
            <div class="form-group">
              <input type="text" class="form-control" name="headerSearch" placeholder="Enter your keyword">
            </div>
            <button type="submit" title="search" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
          </form>
        </li>
        <li>
          <!-- Help Toggle-->
          <form class="navbar-item">
            <a class="btn btn-icon-toggle ink-reaction" title="help" href="#offcanvas-left" data-toggle="offcanvas">
                <i class="fa fa-question-circle fa-2x" style="color:#1b15c6"></i>
            </a>
          </form>
        </li>
        <li>
          <form class="navbar-item">
            <a class="btn btn-icon-toggle ink-reaction"
                    id="filterToggle"
                    (click)="toggleFilter()"
                    title="filter">
                <i class="fa fa-filter fa-2x"></i>
            </a>
          </form>
        </li>
        <li>
          <form class="navbar-item">
            <a class="btn btn-icon-toggle ink-reaction" id="headerToolToggle" title="filter"
               href="javascript: void(0);" data-toggle="dropdown">
                <i class="fa fa-wrench fa-2x" style="color:#8d8c89"></i>
            </a>
            <ul class="dropdown-menu animation-dock">
              <li><a href="#"><i class="fa fa-gear"></i> Air Perm Calculator</a></li>
              <li><a href="#"><i class="fa fa-gear"></i> Safety Factor Calculator</a></li>
          </ul>
          </form>
        </li>
      </ul>

      <ul class="header-nav header-nav-profile">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
            <img src="../../assets/img/avatar1.jpg?1403934956" alt="" />
            <span class="profile-info" style="font-size: 20px; text-align: center;">
              {{current_user['first_name']}}
            </span>
          </a>
          <ul class="dropdown-menu animation-dock">
            <li><a href="#">My profile</a></li>
            <li class="divider"></li>
            <li><a routerLink="/login/" (click)="logout()"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
</div>
</header>



