
<!-- CREATE MODAL-->
<div class="modal fade"
     id="designCreateModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="formModalLabel"
     aria-hidden="true"
     style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title" id="phaseCreateForm">Create A New Tire Design</h3>
        <p class="text-muted"><span class="text-primary" style="font-weight: bold;">*required</span>/optional</p>
      </div>
      <form class="form-horizontal"
            name="form"
            (ngSubmit)="f.form.valid && create()"
            #f="ngForm"
            role="form"
            novalidate>

        <div class="modal-body">

          <!-- PROJECT -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="project_name_create" class="text-primary-dark" style="font-weight: bold;">*Project</label>
            </div>
            <div class="col-sm-9" *ngIf="project.hasOwnProperty('name')">
              <input type="text"
                     [(ngModel)]="project.name"
                     #name="ngModel"
                     name="project_name_create"
                     id="project_name_create"
                     class="form-control"
                     placeholder="Project Name"
                     disabled>
              <div class="form-control-line"></div>
            </div>
          </div>

          <!-- PHASE -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="phase_name_create"
                     class="text-primary-dark" style="font-weight: bold;">*Phase</label>
            </div>
            <div class="col-sm-9" *ngIf="phase.hasOwnProperty('name')">
              <input type="text"
                     name="phase_name_create"
                     [(ngModel)]="phase.name"
                     #name="ngModel"
                     id="phase_name_create"
                     class="form-control"
                     placeholder="Phase Name"
                     disabled>
              <div class="form-control-line"></div>
            </div>
          </div>

          <!--TIRE TYPE-->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="tire_type_create" class="text-primary" style="font-weight: bold;">*Tire Type</label>
            </div>
            <div class="col-sm-9">
              <select name="tire_type_create"
                      [(ngModel)]="model.tire_type"
                      #tire_type="ngModel"
                      class="form-control"
                      id="tire_type_create">
                <option> &nbsp; </option>
                <option *ngFor="let type of tire_types" [value]="type.name">{{type.name}}</option>
              </select>
            </div>
          </div>

          <!-- TIRE LINE -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="tire_line_create"
                     class="text-primary"
                     style="font-weight: bold;">*Tire Line</label>
            </div>
            <div class="col-sm-9">
              <select class="form-control"
                      id="tire_line_create"
                      #tire_line="ngModel"
                      name="tire_line_create"
                      [(ngModel)]="model.tire_line">
                <option> &nbsp; </option>
                <option *ngFor="let line of tire_lines" [value]="line.id">{{line.name}}</option>
              </select>
            </div>
          </div>

          <!-- SIZE -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="size_create" class="text-primary" style="font-weight: bold;">*Size: </label>
            </div>
            <div class="col-sm-9">
              <input type="text"
                     id="size_create"
                     name="size_create"
                     [(ngModel)]="model.size"
                     #size="ngModel"
                     class="form-control">
            </div>
          </div>

          <!-- SPEED RATING -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="speed_rating_create" class="control-label">Speed Rating: </label>
            </div>
            <div class="col-sm-9">
              <select  class="form-control"
                       name="speed_rating_create"
                       [(ngModel)]="model.speed_rating"
                       #speed_rating="ngModel"
                       id="speed_rating_create">
                <option> &nbsp; </option>
                <option *ngFor="let speed_rating of speed_ratings">{{speed_rating.label}}</option>
              </select>
            </div>
          </div>

          <!--LOAD RATING-->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="load_rating_create" class="control-label">Load Rating: </label>
            </div>
            <div class="col-sm-9">
              <select  class="form-control"
                       name="speed_rating_create"
                       [(ngModel)]="model.load_rating"
                       #load_rating="ngModel"
                       id="load_rating_create">
                <option> &nbsp; </option>
                <option *ngFor="let load_rating of load_ratings">{{load_rating.label}}</option>
              </select>
            </div>
          </div>

          <!-- REGION -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="region_create" class="control-label">Region: </label>
            </div>
            <div class="col-sm-9">
              <select  class="form-control"
                       name="region_create"
                       [(ngModel)]="model.region"
                       #region="ngModel"
                       id="region_create">
                <option> &nbsp; </option>
                <option *ngFor="let region of regions" [value]="region.id">{{region.name}}</option>
              </select>
            </div>
          </div>

          <!-- FACTORY -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="factory_create" class="control-label">Factory: </label>
            </div>
            <div class="col-sm-9">
              <select  class="form-control"
                       name="factory_create"
                       [(ngModel)]="model.factory"
                       #factory="ngModel"
                       id="factory_create">
                <option> &nbsp; </option>
                <option *ngFor="let factory of factories" [value]="factory.id">{{factory.label}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger ink-reaction pull-left" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success-dark">Create and Add Project Phase</button>
          <button type="button" class="btn btn-accent">Create and Add Another</button>
          <button type="button" class="btn btn-accent-dark" (click)="create()">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- EDIT MODAL-->
<div class="modal fade"
     id="designEditModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="formModalLabel"
     aria-hidden="true"
     style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title" id="designEditForm">Edit Tire Design</h3>
        <p class="text-muted"><span class="text-primary" style="font-weight: bold;">*required</span>/optional</p>
      </div>
      <form class="form-horizontal"
            name="form"
            (ngSubmit)="f.form.valid && create()"
            #f="ngForm"
            role="form"
            novalidate>

        <div class="modal-body">

          <!-- PROJECT -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="project_name_edit" class="text-primary-dark" style="font-weight: bold;">*Project</label>
            </div>
            <div class="col-sm-9" *ngIf="project.hasOwnProperty('name')">
              <input type="text"
                     [(ngModel)]="project.name"
                     #name="ngModel"
                     name="project_name_edit"
                     id="project_name_edit"
                     class="form-control"
                     disabled>
              <div class="form-control-line"></div>
            </div>
          </div>

          <!-- PHASE -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="phase_name_edit"
                     class="text-primary-dark" style="font-weight: bold;">*Phase</label>
            </div>
            <div class="col-sm-9" *ngIf="phase.hasOwnProperty('name')">
              <input type="text"
                     name="phase_name_edit"
                     [(ngModel)]="phase.name"
                     #name="ngModel"
                     id="phase_name_edit"
                     class="form-control"
                     disabled>
              <div class="form-control-line"></div>
            </div>
          </div>

          <!--TIRE TYPE-->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="tire_type_edit" class="text-primary" style="font-weight: bold;">*Tire Type</label>
            </div>
            <div class="col-sm-9">
              <select name="tire_type_edit"
                      [(ngModel)]="design.tire_type"
                      #tire_type="ngModel"
                      class="form-control"
                      id="tire_type_edit">
                <option> &nbsp; </option>
                <option *ngFor="let type of tire_types" [value]="type.name">{{type.name}}</option>
              </select>
            </div>
          </div>

          <!-- TIRE LINE -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="tire_line_edit"
                     class="text-primary"
                     style="font-weight: bold;">*Tire Line</label>
            </div>
            <div class="col-sm-9">
              <select class="form-control"
                      id="tire_line_edit"
                      #tire_line="ngModel"
                      name="tire_line_create"
                      [(ngModel)]="design.tire_line">
                <option> &nbsp; </option>
                <option *ngFor="let line of tire_lines" [value]="line.id">{{line.name}}</option>
              </select>
            </div>
          </div>

          <!-- SIZE -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="size_edit" class="text-primary" style="font-weight: bold;">*Size: </label>
            </div>
            <div class="col-sm-9">
              <input type="text"
                     id="size_edit"
                     name="size_edit"
                     [(ngModel)]="design.size"
                     #size="ngModel"
                     class="form-control">
            </div>
          </div>

          <!-- SPEED RATING -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="speed_rating_edit" class="control-label">Speed Rating: </label>
            </div>
            <div class="col-sm-9">
              <select  class="form-control"
                       name="speed_rating_create"
                       [(ngModel)]="design.speed_rating"
                       #speed_rating="ngModel"
                       id="speed_rating_edit">
                <option> &nbsp; </option>
                <option *ngFor="let speed_rating of speed_ratings">{{speed_rating.label}}</option>
              </select>
            </div>
          </div>

          <!--LOAD RATING-->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="load_rating_edit" class="control-label">Load Rating: </label>
            </div>
            <div class="col-sm-9">
              <select  class="form-control"
                       name="speed_rating_create"
                       [(ngModel)]="design.load_rating"
                       #load_rating="ngModel"
                       id="load_rating_edit">
                <option> &nbsp; </option>
                <option *ngFor="let load_rating of load_ratings">{{load_rating.label}}</option>
              </select>
            </div>
          </div>

          <!-- REGION -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="region_edit" class="control-label">Region: </label>
            </div>
            <div class="col-sm-9">
              <select  class="form-control"
                       name="region_create"
                       [(ngModel)]="design.region"
                       #region="ngModel"
                       id="region_edit">
                <option> &nbsp; </option>
                <option *ngFor="let region of regions" [value]="region.id">{{region.name}}</option>
              </select>
            </div>
          </div>

          <!-- FACTORY -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="factory_edit" class="control-label">Factory: </label>
            </div>
            <div class="col-sm-9">
              <select  class="form-control"
                       name="factory_create"
                       [(ngModel)]="design.factory"
                       #factory="ngModel"
                       id="factory_edit">
                <option> &nbsp; </option>
                <option *ngFor="let factory of factories" [value]="factory.id">{{factory.label}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger ink-reaction pull-left" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-accent-dark" (click)="update()">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- DELETE MODAL-->
<div class="modal fade"
     id="designDeleteModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="formModalLabel"
     aria-hidden="true"
     style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title" id="designDeleteForm">Delete Tire Design</h3>
        <p class="text-muted"><span class="text-primary" style="font-weight: bold;">*required</span>/optional</p>
      </div>
      <form class="form-horizontal"
            name="form"
            (ngSubmit)="f.form.valid && create()"
            #f="ngForm"
            role="form"
            novalidate>

        <div class="modal-body">

          <!-- PROJECT -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="project_name_delete" class="text-primary-dark" style="font-weight: bold;">*Project</label>
            </div>
            <div class="col-sm-9" *ngIf="project.hasOwnProperty('name')">
              <input type="text"
                     [(ngModel)]="project.name"
                     #name="ngModel"
                     name="project_name_delete"
                     id="project_name_delete"
                     class="form-control"
                     disabled>
              <div class="form-control-line"></div>
            </div>
          </div>

          <!-- PHASE -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="phase_name_delete"
                     class="text-primary-dark" style="font-weight: bold;">*Phase</label>
            </div>
            <div class="col-sm-9" *ngIf="phase.hasOwnProperty('name')">
              <input type="text"
                     name="phase_name_delete"
                     [(ngModel)]="phase.name"
                     #name="ngModel"
                     id="phase_name_delete"
                     class="form-control"
                     disabled>
              <div class="form-control-line"></div>
            </div>
          </div>

          <!--TIRE TYPE-->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="tire_type_delete" class="text-primary" style="font-weight: bold;">*Tire Type</label>
            </div>
            <div class="col-sm-9">
              <select name="tire_type_delete"
                      [(ngModel)]="design.tire_type"
                      #tire_type="ngModel"
                      class="form-control"
                      id="tire_type_delete" disabled>
                <option> &nbsp; </option>
                <option *ngFor="let type of tire_types" [value]="type.name">{{type.name}}</option>
              </select>
            </div>
          </div>

          <!-- TIRE LINE -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="tire_line_delete"
                     class="text-primary"
                     style="font-weight: bold;">*Tire Line</label>
            </div>
            <div class="col-sm-9">
              <select class="form-control"
                      id="tire_line_delete"
                      #tire_line="ngModel"
                      name="tire_line_delete"
                      [(ngModel)]="design.tire_line" disabled>
                <option> &nbsp; </option>
                <option *ngFor="let line of tire_lines" [value]="line.id">{{line.name}}</option>
              </select>
            </div>
          </div>

          <!-- SIZE -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="size_delete" class="text-primary" style="font-weight: bold;">*Size: </label>
            </div>
            <div class="col-sm-9">
              <input type="text"
                     id="size_delete"
                     name="size_edit"
                     [(ngModel)]="design.size"
                     #size="ngModel"
                     class="form-control" disabled>
            </div>
          </div>

          <!-- SPEED RATING -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="speed_rating_delete" class="control-label">Speed Rating: </label>
            </div>
            <div class="col-sm-9">
              <select  class="form-control"
                       name="speed_rating_create"
                       [(ngModel)]="design.speed_rating"
                       #speed_rating="ngModel"
                       id="speed_rating_delete" disabled>
                <option> &nbsp; </option>
                <option *ngFor="let speed_rating of speed_ratings">{{speed_rating.label}}</option>
              </select>
            </div>
          </div>

          <!--LOAD RATING-->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="load_rating_delete" class="control-label">Load Rating: </label>
            </div>
            <div class="col-sm-9">
              <select  class="form-control"
                       name="speed_rating_delete"
                       [(ngModel)]="design.load_rating"
                       #load_rating="ngModel"
                       id="load_rating_delete" disabled>
                <option> &nbsp; </option>
                <option *ngFor="let load_rating of load_ratings">{{load_rating.label}}</option>
              </select>
            </div>
          </div>

          <!-- REGION -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="region_delete" class="control-label">Region: </label>
            </div>
            <div class="col-sm-9">
              <select  class="form-control"
                       name="region_create"
                       [(ngModel)]="design.region"
                       #region="ngModel"
                       id="region_delete" disabled>
                <option> &nbsp; </option>
                <option *ngFor="let region of regions" [value]="region.id">{{region.name}}</option>
              </select>
            </div>
          </div>

          <!-- FACTORY -->
          <div class="form-group">
            <div class="col-sm-3">
              <label for="factory_delete" class="control-label">Factory: </label>
            </div>
            <div class="col-sm-9">
              <select  class="form-control"
                       name="factory_create"
                       [(ngModel)]="design.factory"
                       #factory="ngModel"
                       id="factory_delete" disabled>
                <option> &nbsp; </option>
                <option *ngFor="let factory of factories" [value]="factory.id">{{factory.label}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger ink-reaction pull-left" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-accent-dark" (click)="destroy()">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>


