
<!-- PROJECT CREATE MODAL-->
<div class="modal fade"
     id="projectCreateModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="formModalLabel"
     aria-hidden="true"
     style="display: none;">
  <div class="modal-dialog modal-lg" style="width: 75%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title" id="projectCreateForm">Create A Project</h3>
        <p class="text-muted"><span class="text-primary" style="font-weight: bold;">*required</span>/optional</p>
      </div>
      <form class="form-horizontal"
            name="form"
            (ngSubmit)="f.form.valid && create()"
            #f="ngForm" novalidate>
        <div class="modal-body">

          <!--NAME-->
          <div class="form-group" [ngClass]="{'has-error': f.submitted && !name.valid}">
            <div class="col-sm-3">
              <label for="name" class="text-primary" style="font-weight: bold;">*Name </label>
            </div>
            <div class="col-sm-9">
              <input type="text" [(ngModel)]="model.name"
                     name="name"
                     id="name"
                     class="form-control"
                     placeholder="Project Name"
                     required>
              <div class="help-block" *ngIf="f.submitted && !name.valid"> Project Name is required</div>
              <div class="form-control-line"></div>
            </div>
          </div>

          <!--NUMBER-->
          <div class="form-group" [ngClass]="{'has-error': f.submitted && !number.valid}">
            <div class="col-sm-3">
              <label for="number" class="control-label">Number</label>
            </div>
            <div class="col-sm-9">
              <input type="number"
                     name="number"
                     id="number"
                     [(ngModel)]="model.number"
                     #number="ngModel"
                     class="form-control"
                     placeholder="Project Number">
              <div class="form-control-line"></div>
            </div>
          </div>

          <!--TYPE-->
          <div class="form-group" [ngClass]="{'has-error': f.submitted && !project_type.valid}">
            <div class="col-sm-3">
              <label for="project_type" class="text-primary" style="font-weight: bold;">*Project Type</label>
            </div>
            <div class="col-sm-9">
              <select name="project_type"
                      [(ngModel)]="model.project_type"
                      #project_type="ngModel"
                      class="form-control"
                      id="project_type" required>
                <option [value]="null"></option>
                <option [value]="'REP'">Replacement</option>
                <option [value]="'OE'">OE</option>
                <option [value]="'RES'">Research</option>
              </select>
            </div>
            <div class="help-block" *ngIf="f.submitted && !type.valid"> Type is required</div>

          </div>

          <!--CUSTOMER-->
          <div class="form-group" [ngClass]="{'has-error': f.submitted && !customer.valid}">
            <div class="col-sm-3">
              <label for="customer"
                     class="control-label">Customer: </label>
            </div>
            <div class="col-sm-9">
              <input type="text"
                     name="customer"
                     id="customer"
                     class="form-control"
                     [(ngModel)]="model.customer"
                     #customer="ngModel"
                     placeholder="Customer">
              <div class="form-control-line"></div>
            </div>
          </div>

           <!--DESCRIPTION-->
          <div class="form-group" [ngClass]="{'has-error': f.submitted && !description.valid}">
            <div class="col-sm-3">
              <label for="description" class="control-label">Description: </label>
            </div>
            <div class="col-sm-9">
              <textarea rows="10"
                        cols="50"
                        name="description"
                        [(ngModel)]="model.description"
                        #description="ngModel"
                        id="description"
                        class="form-control">
              </textarea>
              <div class="form-control-line"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <button type="button" (click)="create()" [disabled]="loading" class="btn btn-accent-dark">Create</button>
            <button type="button" [disabled]="loading" class="btn btn-danger ink-reaction pull-left" data-dismiss="modal">Cancel</button>
            <button type="button" [disabled]="loading" class="btn btn-success-dark">Create and Add Project Phase</button>
            <button type="button" [disabled]="loading" class="btn btn-accent">Create and Add Another</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- PROJECT EDIT MODAL -->
<div class="modal fade"
     id="projectEditModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="formModalLabel"
     aria-hidden="true"
     style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="formModalLabel">Edit Project:</h4>
      </div>
      <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm" novalidate>
        <div class="modal-body">
          <div class="form-group">
            <div class="col-sm-3">
              <label for="pr_name_edit" class="text-primary" style="font-weight: bold;">*Name </label>
            </div>
            <div class="col-sm-9">
              <input type="text" name="project_name" id="pr_name_edit" class="form-control" placeholder="Project Name">
              <div class="form-control-line"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <label for="pr_number_edit" class="control-label">Number</label>
            </div>
            <div class="col-sm-9">
              <input type="number" name="pr_number" id="pr_number_edit" class="form-control" placeholder="Project Number">
              <div class="form-control-line"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <label for="pr_type_edit" class="text-primary" style="font-weight: bold;">*Project Type</label>
            </div>
            <div class="col-sm-9">
              <select name="pr_type" class="form-control" id="pr_type_edit">
                <option> &nbsp;</option>
                <option>Replacement</option>
                <option>OE</option>
                <option>Research</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <label for="description_edit" class="control-label">Description: </label>
            </div>
            <div class="col-sm-9">
              <input type="text" name="description" id="description_edit" class="form-control" placeholder="Description">
              <div class="form-control-line"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <label for="customer_edit" class="control-label">Customer: </label>
            </div>
            <div class="col-sm-9">
              <input type="text" name="customer" id="customer_edit" class="form-control" placeholder="Customer">
              <div class="form-control-line"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <label for="tag_edit" class="control-label">Tag: </label>
            </div>
            <div class="col-sm-9">
              <input type="text" name="tag" id="tag_edit" class="form-control" placeholder="Tag">
              <div class="form-control-line"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger ink-reaction pull-left" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-accent">Save and Continue Editing</button>
          <button type="button" class="btn btn-accent-dark">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- PROJECT DELETE MODAL -->
<div class="modal fade"
     id="projectDeleteModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="formModalLabel"
     aria-hidden="true"
     style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="projectDeleteLabel">Delete Project:</h4>
      </div>
      <form class="form-horizontal" role="form">
        <div class="modal-body">
          <div class="form-group">
            <div class="col-sm-3">
              <label for="pr_name_delete" class="text-primary" style="font-weight: bold;">*Name </label>
            </div>
            <div class="col-sm-9">
              <input type="text" name="project_name" id="pr_name_delete" class="form-control" placeholder="Project Name" disabled>
              <div class="form-control-line"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <label for="pr_number_delete" class="control-label">Number</label>
            </div>
            <div class="col-sm-9">
              <input type="number" name="pr_number" id="pr_number_delete" class="form-control" placeholder="Project Number" disabled>
              <div class="form-control-line"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <label for="pr_type_delete" class="text-primary" style="font-weight: bold;">*Project Type</label>
            </div>
            <div class="col-sm-9">
              <select name="pr_type" class="form-control" id="pr_type_delete" disabled>
                <option> &nbsp;</option>
                <option>Replacement</option>
                <option>OE</option>
                <option>Research</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <label for="description_edit" class="control-label">Description: </label>
            </div>
            <div class="col-sm-9">
              <input type="text" name="description" id="description_delete" class="form-control" placeholder="Description" disabled>
              <div class="form-control-line"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <label for="customer_delete" class="control-label">Customer: </label>
            </div>
            <div class="col-sm-9">
              <input type="text" name="customer" id="customer_delete" class="form-control" placeholder="Customer" disabled>
              <div class="form-control-line"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <label for="tag_delete" class="control-label">Tag: </label>
            </div>
            <div class="col-sm-9">
              <input type="text" name="tag" id="tag_delete" class="form-control" placeholder="Tag" disabled>
              <div class="form-control-line"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default pull-left"
                   data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>


