<div *ngIf="phase">
  <div class="section-header">
    <ol class="breadcrumb">
      <li><a routerLink="/">home</a></li>
      <li *ngIf="phase.project"><a routerLink="/project/{{phase.project.id}}">{{phase.project.name}}</a></li>
      <li class="active">{{phase.name}}</li>
    </ol>
  </div>


  <h2 class="text-light text-center">
    {{phase.name}}<br><small class="text-primary">
    Phase-Details</small></h2>

  <div class="col-xs-10 col-xs-offset-1" style="margin-top: 25px;">
    <div class="card">
      <div class="card-head">
        <header>Description </header>
      </div>
      <div class="card-body" style="margin-top: -30px;">
        <div style="padding-left: 3em;">
          <ul class="text-muted list-group list-comments">
            <li class="text-muted">
              Phase Type: <span class="text-primary">{{phase.phase_type}}</span>
            </li>
            <li class="text-muted" style="margin-top: -15px;">
              Customer: <span class="text-primary">{{phase.customer}}</span>
            </li>
            <li class="text-muted" style="margin-top: -15px;">
              Date Modified: <span class="text-primary">{{phase.date_modified}}</span>
            </li>
          </ul>
          <div>
            {{phase.description}}
          </div>
        </div>
        <div class="stick-bottom-right">
          <!--<button class="btn btn-primary" (click)="log()">Log</button>-->
        </div>
      </div><!--end .card-body -->
    </div><!--end .card -->
  </div>
  <div class="col-xs-10 col-xs-offset-1" >
    <div class="card">
      <div class="card-head">
        <header>Analysis Queue </header>
      </div>
      <div class="card-body">
          <div class="stick-bottom-right">
          </div>
      </div><!--end .card-body -->
    </div><!--end .card -->
  </div>
  <div class="col-xs-10 col-xs-offset-1" >
    <div class="card">
      <div class="card-head">
        <header>Members</header>
      </div>
      <div class="card-body">
        {{phase.owner_username}}
          <div class="stick-bottom-right">
          </div>
      </div><!--end .card-body -->
    </div><!--end .card -->
  </div>
</div>
