<div *ngIf="project">
  <div class="section-header">
    <ol class="breadcrumb">
      <li><a routerLink="/">home</a></li>
      <li class="active">{{project.name}}</li>
    </ol>
  </div>

  <h2 class="text-light text-center">
    {{project.name}}<br><small class="text-primary">
    Project-Details: {{project.project_type}}</small>
  </h2>

  <!--DETAILS-->
  <div class="col-xs-10 col-xs-offset-1" style="margin-top: 25px;" *ngIf="!isEmpty(project)">
    <div class="card">
      <div class="card-head">
        <header>Description </header>
      </div>
      <div class="card-body" style="margin-top: -30px;">
        <div style="padding-left: 3em;">
          <ul class="text-muted list-group list-comments">
            <li class="text-muted">
              Project Type: <span class="text-primary">{{project.project_type}}</span>
            </li>
            <li class="text-muted" style="margin-top: -15px;">
              Customer: <span class="text-primary">{{project.customer}}</span>
            </li>
            <li class="text-muted" style="margin-top: -15px;">
              Date Modified: <span class="text-primary">{{project.date_modified | convertToSlashes: "_"}}</span>
            </li>
          </ul>
          <div>
            <h3>Notes:</h3>
            <hr style="margin-top: 0px;">
            <div id="inlineContent1"
               class="col-md-12 cke_editable cke_editable_inline cke_contents_ltr"
               contenteditable="true"
               tabindex="0"
               spellcheck="false"
               role="textbox"
               aria-label="Project Description"
               title="Project Description"
               aria-describedby="cke_110" style="position: relative; margin-left: -1em; max-height: 250px; overflow-y: scroll">
            <p>{{project.description}}</p>
          </div>
          </div>
        </div>
        <div class="stick-bottom-right">
        </div>
      </div>
    </div>
  </div>
  <!--ANALYSIS QUEUE-->
  <div class="col-xs-10 col-xs-offset-1" >
    <div class="card">
      <div class="card-head">
        <header>Analysis Queue </header>
      </div>
      <div class="card-body">
          <div class="stick-bottom-right">
          </div>
      </div><!--end .card-body -->
    </div><!--end .card -->
  </div>
  <!--MEMBERS-->
  <div class="col-xs-10 col-xs-offset-1" >
    <div class="card">
      <div class="card-head">
        <header>Members</header>
      </div>
      <div class="card-body">
        {{project.owner_username}}
          <div class="stick-bottom-right">
          </div>
      </div><!--end .card-body -->
    </div><!--end .card -->
  </div>
</div>
