<script src="design-details.component.ts"></script>
<div *ngIf="spec">

<div class="section-header">
  <ol class="breadcrumb">
    <li><a routerLink="/home">home</a></li>
    <li *ngIf="spec.hasOwnProperty('project')"><a routerLink="/{{'project'}}/{{spec.project.id}}">{{spec.project.name}}</a></li>
    <li *ngIf="spec.hasOwnProperty('phase')">
      <a routerLink="/phase/{{spec.phase.id}}" routerLinkActive="active">{{spec.phase.name}}</a></li>
    <!--<li *ngIf="spec.phase"><a (click)="routeTo('phase', spec.phase.id)">{{spec.phase.name}}</a></li>-->
    <li *ngIf="spec.hasOwnProperty('design')"><a routerLink="/design/{{spec.design.id}}">{{spec.design.name}}</a></li>
    <li class="active">{{spec.name}}</li>
  </ol>
</div>


<h2 class="text-light text-center">
  {{spec.name}}<br><small class="text-primary">
  Spec-Details</small></h2>

<div class="col-xs-10 col-xs-offset-1" style="margin-top: 25px;">
  <div class="card">
    <div class="card-head">
      <header>Description </header>
    </div>
    <div class="card-body" style="margin-top: -30px;">
      <div style="padding-left: 3em;">
        <ul class="text-muted list-group list-comments">
          <li class="text-muted">
            Spec Type: <span class="text-primary">{{spec.spec_type}}</span>
          </li>
          <li class="text-muted" style="margin-top: -15px;">
            Customer: <span class="text-primary">{{spec.customer}}</span>
          </li>
          <li class="text-muted" style="margin-top: -15px;">
            Date Modified: <span class="text-primary">{{spec.date_modified}}</span>
          </li>
        </ul>
        <div>
          {{spec.description}}
        </div>
      </div>
      <div class="stick-bottom-right">
        <!--<button class="btn btn-primary" (click)="log()">Log</button>-->
      </div>
    </div><!--end .card-body -->
  </div><!--end .card -->
</div>
<div class="col-xs-10 col-xs-offset-1" >
  <div class="card">
    <div class="card-head">
      <header>Analysis Queue </header>
    </div>
    <div class="card-body">
        <div class="stick-bottom-right">
        </div>
    </div><!--end .card-body -->
  </div><!--end .card -->
</div>
<div class="col-xs-10 col-xs-offset-1" >
  <div class="card">
    <div class="card-head">
      <header>Members</header>
    </div>
    <div class="card-body">
      {{spec.owner_username}}
        <div class="stick-bottom-right">
        </div>
    </div><!--end .card-body -->
  </div><!--end .card -->
</div>
</div>
