<header id="header">
  <div class="headerbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="headerbar-left">
      <ul class="header-nav header-nav-options">
        <li class="header-nav-brand" >
          <div class="brand-holder">
           <img src="../../assets/img/kenda-vector-logo.png" style="width: 200px; margin-left: 125px;">
          </div>
        </li>
      </ul>
    </div>
    <div class="headerbar-right">
      <ul class="header-nav header-nav-options">
        <li>
          <!-- Search form -->
          <form class="navbar-search" role="search">
            <div class="form-group">
              <input type="text" class="form-control" name="headerSearch" placeholder="Enter your keyword">
            </div>
            <button type="submit" title="search" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
          </form>
        </li>
        <li>
          <!-- Help Toggle-->
          <form class="navbar-item">
            <a class="btn btn-icon-toggle ink-reaction" title="help" href="#offcanvas-left" data-toggle="offcanvas">
                <i class="fa fa-question-circle fa-2x" style="color:#1b15c6"></i>
            </a>
          </form>
        </li>
        <li>
          <!-- Filter Toggle-->
          <form class="navbar-item">
            <a class="btn btn-icon-toggle ink-reaction" id="headerFilterToggle" title="filter"
               href="#offcanvas-right" data-toggle="offcanvas">
                <i class="fa fa-filter fa-2x" style="color:#8d8c89"></i>
            </a>
          </form>
        </li>
        <li>
          <!-- Filter Toggle-->
          <form class="navbar-item">
            <a class="btn btn-icon-toggle ink-reaction" id="headerToolToggle" title="filter"
               href="javascript: void(0);" data-toggle="dropdown">
                <i class="fa fa-wrench fa-2x" style="color:#8d8c89"></i>
            </a>
            <ul class="dropdown-menu animation-dock">
              <li><a href="#"><i class="fa fa-gear"></i> Air Perm Calculator</a></li>
              <!--<li class="divider"></li>-->
              <li><a href="#"><i class="fa fa-gear"></i> Safety Factor Calculator</a></li>
          </ul><!--end .dropdown-menu -->
          </form>
        </li>
      </ul>

      <ul class="header-nav header-nav-profile">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
            <img src="../../assets/img/avatar1.jpg?1403934956" alt="" />
            <span class="profile-info">
              Todd Miller
              <small>Administrator</small>
            </span>
          </a>
          <ul class="dropdown-menu animation-dock">
            <li><a href="#">My profile</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
          </ul><!--end .dropdown-menu -->
        </li><!--end .dropdown -->
      </ul>
    </div>
</div>
</header>


