

<!-- BEGIN CONTENT-->
<div id="content">
  <div class="col-xs-offset-3 col-xs-9">

    <button class="btn btn-default" (click)="addToast('title', 'this is a longer message I want to see what will happen with the size of the element message!')">click!</button>
  </div>
</div>

<!-- END CONTENT -->

<!-- BEGIN OFFCANVAS RIGHT -->
<div class="offcanvas">
  <div id="offcanvas-right" class="offcanvas-pane width-12">
    <div class="offcanvas-head">
      <header>Project Filter</header>
      <div class="offcanvas-tools">
        <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
          <i class="md md-close"></i>
        </a>
      </div>
    </div>
    <div class="offcanvas-body">
      <app-filter></app-filter>
    </div>
  </div>
</div>
 <!--END OFFCANVAS RIGHT-->




